@media (prefers-color-scheme: light) {
  .shiki.dark-plus {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  .shiki.light-plus {
    display: none;
  }
}

:root {
  --one-color: var(--vscode-focusBorder);
  --shiki-color-text: var(--vscode-editor-foreground);
  --shiki-color-background: var(--vscode-editor-background);
  --shiki-token-constant: var(--vscode-charts-blue);
  --shiki-token-string: var(--vscode-charts-blue);
  --shiki-token-comment: var(--vscode-charts-lines);
  --shiki-token-keyword: var(--vscode-charts-purple);
  --shiki-token-parameter: var(--vscode-charts-purple);
  --shiki-token-function: var(--vscode-charts-blue);
  --shiki-token-string-expression: var(--vscode-charts-blue);
  --shiki-token-punctuation: var(--vscode-charts-orange);
  --shiki-token-link: var(--vscode-charts-blue);
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
  overflow: hidden;

  & > * {
    margin: 1px 0;
  }
}

.close-action {
  display: flex;
  width: 26px;
  align-items: center;
  justify-content: center;
}

button[disabled] {
  cursor: not-allowed !important;
}

.splitpanes.default-theme .splitpanes__pane {
  background-color: inherit !important;
}

legend {
  display: flex;
  align-items: center;
}
.verr {
  background-color: var(--vscode-diffEditor-removedTextBackground) !important;
}

fieldset.no-elements {
  border-color: var(--vscode-diffEditor-removedTextBackground) !important;
  background-color: var(--vscode-diffEditor-removedTextBackground) !important;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.toolbar {
  padding: 3px 4px;
  margin-bottom: 11px;
  display: flex;
}
div.tool-left,
div.tool-right {
  display: flex;
  column-gap: 3px;
  align-items: center;
}
.tool-left {
  flex-grow: 1;
}

.highlighted {
  background-color: var(--vscode-editor-selectionBackground) !important;
}
.error-foreground {
  color: var(--vscode-editorError-foreground) !important;
}
.marker-box {
  border-width: 1px;
  border-style: solid;
  border-color: var(--vscode-editorHoverWidget-border) !important;
  color: var(--vscode-editorHoverWidget-foreground);
}

.marker-info {
  border-color: var(--vscode-editorInfo-border) !important;
  color: var(--vscode-editorInfo-foreground) !important;
}
.marker-warning {
  border-color: var(--vscode-editorWarning-border) !important;
  color: var(--vscode-editorWarning-foreground) !important;
}
.marker-error {
  border-color: var(--vscode-editorError-border) !important;
  color: var(--vscode-editorError-foreground) !important;
}

.tab-container-actions {
  position: absolute;
  right: 2px;
  top: 1px;
  display: flex;
  height: 28px;
  border-radius: 1px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  padding: 0 8px 0 4px;
  align-items: center;

  & > button {
    width: 26px;
    height: 26px;
    background: transparent;
    border: none;
    color: var(--foreground);
    outline: none;
    font-size: var(--type-ramp-base-font-size);
    fill: currentcolor;
    cursor: pointer;

    &:hover {
      background-color: var(--vscode-toolbar-hoverBackground);
    }
  }
}
